version: '3.9'

services:
  backend:
    build: ./backend
    container_name: API_backend
    ports:
      - "4000:4000"
    volumes:
      - ./backend/data:/app/data
    environment:
      - NODE_ENV=production
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: Frontend_app
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - NODE_ENV=production
      - NUXT_PUBLIC_API_URL=http://localhost:4000/api
    restart: unless-stopped
